################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MeBa/FileContentIndex/88fa51b8-8438-460b-8296-33e365448240.vsidx
/.vs/MeBa/FileContentIndex/58c5c4e3-7947-417b-b690-dc309e786235.vsidx
/.vs/MeBa/FileContentIndex/5fff3651-d088-426c-85b2-dc227056dd9b.vsidx
/.vs/MeBa/FileContentIndex/d44e202b-7b26-4335-bea8-3ea1e6cd65bb.vsidx
/.vs/MeBa/FileContentIndex
/.vs
