@page
@model SetPasswordPageModel
@using MediaBazaarWeb.Model
@{
    ViewData["Title"] = "Set Password";
    Layout = "~/Pages/Shared/_LayoutPassword.cshtml";
}


<h1>Since you are logging in for the first time, please set a new secret password!</h1>

<form method="post" novalidate>
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="error-message">
            <span class="text-danger">@TempData["ErrorMessage"]</span>
        </div>
    }
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <span asp-validation-for="SetPasswordModel.Password" class="text-danger"></span>

        <input asp-for="SetPasswordModel.Password" id="email" type="password" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirm password</label>
        <span asp-validation-for="SetPasswordModel.ConfirmPassword" class="text-danger"></span>

        <input asp-for="SetPasswordModel.ConfirmPassword" id="password" type="password" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>
